GeneSeek/common_markers.csv
GeneSeek/*muga_geneseek.csv
UNC/snps.*muga.Rdata
Sequences/*.csv
R/new_annotations.R
R/mini_annotations.R
R/muga_annotations.R
GenMaps/?m_bp.txt
GenMaps/mini_bp.txt
GenMaps/muga_bp.txt
GenMaps/mmc_results.tgz
UWisc/?m_uwisc*v0.csv
UWisc/mini_uwisc*v0.csv
UWisc/muga_uwisc*v0.csv
